* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  body {
    line-height: 1.5;
    scroll-behavior: smooth;
    font-family: "Roboto", "Playfair Display", "Noto Sans TC", sans-serif;
  }
  ol,
  ul {
    list-style: none;
  }
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  a {
    text-decoration: none;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  