header{
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  border-bottom: 1px solid #979799;
}
header .container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 24px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  .list {
    display: flex;
    .list-item{
      margin-left: 20px;
    }
  }
}
.menu-btn{
  display: none;
}
@media (max-width: 1200px) {
  .logo{
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    line-height: 60px;
  }
  nav{
    display: none;
    &.active{
      display: block;
      .list{
        flex-direction: column;
        .list-item {
          text-align: center;
          
        }
      }
    }
  }
  .menu-btn{
    display: block;
  }
}
